* {
    box-sizing: border-box;
    
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #010101;
    text-align: center;
    line-height: 1.5;
    background-color: #20F4D8;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .header {
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    
  }

  .sub-headlines {
    font-size: 25px;
    font-family: 'Anton', sans-serif;
  }
  
  header {
    padding: 12% 0;
  }

  /* pics */
  
  .Personal-Image {
    height: 200px;
    width: 200px;
  }

  .crappy-app {
      height: 50px;
      width: 200px;
  }

  .bio {

    margin: 20px;
    font: 16px arial, sans-serif;
    line-height: 24px;
  }

  .app-description {

    margin: 20px;
    font: 16px arial, sans-serif;
    line-height: 24px;

  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  